#banner
  .banner_content
    %h1 File Cabinet
    %p Your Life's work, Organized, Always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Yuccie aesthetic keffiyeh activated charcoal. Plaid keffiyeh flannel snackwave,
        gluten-free quinoa DIY meditation occupy la croix tofu pug yuccie letterpress.
        Vaporware you probably haven't heard of them thundercats mustache. Etsy roof party drinking vinegar,
        small batch skateboard slow-carb vape sustainable viral offal raclette palo santo cronut schlitz.
        Adaptogen aesthetic sriracha edison bulb, snackwave master cleanse activated charcoal slow-carb
        chambray stumptown plaid humblebrag direct trade +1 actually. Kinfolk hashtag vaporware paleo
        church-key glossier seitan DIY la croix whatever.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path

%footer
  %p &copy; reysec
